#personagem{
  position: absolute;
  background-color: blue;
  width:30px;
  height:50px;
  border: 1px solid black;
  bottom:400px;
  left:0px;

}
#map{

  position:relative;
  border: 1px solid black;
  height: 500px;
  width: 800px;

}
.zumbi{
	position: absolute;
	background-color: green;
	width:30px;
	height:50px;
	border: 1px solid black;
	top:100px;
	left:600px;
}
#botao{
	height:10%;
	width:40%;
	background-color:red;
}
